<style>
    .text-color
    {
        color: #eeefff;
    }
</style>
<h1 class="text-color"><%= message %></h1>
<h2 class="text-color"><%= error.status %></h2>
<div class="text-color" style="font-size : 20px"><%= error.stack %></div>